<!DOCTYPE html>
<html lang="en">
	<head>
		<title>URL Shortener Microservice</title>
		<link rel="stylesheet" href="style.css">
		<link rel="icon" href="/favicon.ico" />
	</head>
	<body>
	      <div class="container">
	        <h1>User Stories:</h1>
	        <blockquote>
		        <ul>
		        	<li>
		        		<p>
		        			I can pass a URL and I will receive a shortened URL in the JSON response.
		        		</p>
		        	</li>
		        	<li>
		        		<p>
		        			If I pass an invalid URL that doesn't follow the valid http://example.com format, the JSON response will contain an error instead.
		        		</p>
		        	</li>
		        	<li>
		        		<p>
		        			When I visit that shortened URL, it will redirect me to my original link.
		        		</p>
		        	</li>
		        </ul>
	        </blockquote>
	      </div>
	      <div>
	      	<h2>
	      		Example usage:
	      	</h2>
	      	<p>
	      		https://localhost:3000/new/https://google.com
	      		<br />
				https://localhost:3000/new/http://foo.com:80
	      	</p>
	      	<h2>
	      		Example output:
	      	</h2>
	      	<p>
	      		{ "original_url":"https://google.com", "short_url":"https://localhost:3000/8170" }
	      	</p>
	      	<h2>
	      		Function:
	      	</h2>
	      	<p>
	      		https://localhost:3000/8170 will redirect to https://google.com
	      	</p>
	      </div>
	</body>
</html>
